<html>

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>

<body ng-app="myApp">
    
    <div ng-controller="myCtrl">
    <h3>Cadastro de ações</h3>
    <form name="acaoForm" ng-submit="salvar()" class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">Tipo Ação:</label>
            <div class="col-sm-8">
                <label class="checkbox-inline" ng-repeat="t in tiposAcao">
                   <input type="radio" name="tipoAcao" ng-model="acao.tipoAcao" value="{{t.id}}">{{t.descricao}}</input>
                </label>
            </div>
        </div>

        <div class="form-group">
            <label for="input-titulo" class="col-sm-2 control-label">Titulo:</label>
            <div class="col-sm-3">
                <input id="input-titulo" type="text" class="form-control" ng-model="acao.titulo" required/>
            </div>
        </div>

        <div class="form-group">
            <label for="select-curso" class="col-sm-2 control-label">Curso responsável:</label>
            <div class="col-sm-3">
                <select id="select-curso" class="form-control" ng-model="acao.cursoResponsavel" ng-options="c.id as c.nome for c in cursos" required></select>
            </div>
        </div>

        <div class="form-group">
            <label for="input-situacao" class="col-sm-2 control-label">Situação:</label>
            <div class="col-sm-3">
                <input id="input-situacao" type="text" class="form-control" disabled value="{{situacoes[0].descricao}}" />
            </div>
        </div>

        <div class="form-group">
            <label for="input-descricao" class="col-sm-2 control-label">Descrição:</label>
            <div class="col-sm-3">
                <input id="input-descricao" type="text" class="form-control" ng-model="acao.descricao" required/>
            </div>
        </div>

        <div class="form-group">
            <label for="input-objetivo" class="col-sm-2 control-label">Objetivo:</label>
            <div class="col-sm-3">
                <textarea id="input-objetivo" type="text" class="form-control" ng-model="acao.objetivo" rows="3" required>
                </textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="input-publico-alvo" class="col-sm-2 control-label">Público alvo:</label>
            <div class="col-sm-3">
                <input id="input-publico-alvo" type="text" class="form-control" ng-model="acao.publicoAlvo" required/>
            </div>
        </div>

        <div class="form-group">
            <label for="input-local" class="col-sm-2 control-label">Local:</label>
            <div class="col-sm-3">
                <input id="input-local" type="text" class="form-control" ng-model="acao.local" required/>
            </div>
        </div>

        <div class="form-group">
            <label for="input-data-inicio" class="col-sm-2 control-label">Data inicio:</label>
            <div class="col-sm-3">
                <input id="input-data-inicio" type="datetime-local" class="form-control" ng-model="acao.dataInicio" required/>
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-2 control-label">Área temática integradora:</label>
            <div class="col-sm-8">
                <label  class="checkbox-inline" ng-repeat="c in areaTematicaIntegradora">
                    <input name="areaTematicaIntegradora" ng-model="acao.areaTematicaIntegradora[c.id]" type="checkbox" value="{{c.id}}">{{c.nome}}</input>
                </label>
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-2 control-label">Objetivos de desenvolvimento sustentável da ONU:</label>
            <div class="col-sm-8">
                <label  class="checkbox-inline" ng-repeat="c in objetivosONU">
                    <input name="objetivosONU" ng-model="acao.objetivosONU[c.id]" type="checkbox" value="{{c.id}}">{{c.nome}}</input>
                </label>
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-2 control-label">Desafios do planejamento estratégico de BH 2030:</label>
            <div class="col-sm-8">
                <label  class="checkbox-inline" ng-repeat="c in desafiosBH2030">
                    <input name="desafiosBH2030" ng-model="acao.desafiosBH2030[c.id]" type="checkbox" value="{{c.id}}">{{c.nome}}</input>
                </label>
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="Enviar" class="btn btn-default" />
                <input type="reset" value="Limpar" class="btn" />
            </div>
        </div>
    </form>
    </div>
    
    <h3>Exemplos de requisições</h3>
    <ul class="list-group">
        <li class="list-group-item"><a href="api/TipoConceito/buscarTodos.php">Buscar todos os tipos de conceitos</a></li>
        <li class="list-group-item"><a href="api/ConceitoExtensao/buscarAtivos.php?idTipoConceito=3">Buscar conceitos extensão ativos</a></li>
        <li class="list-group-item"><a href="api/TipoAcao/buscarTodos.php">Buscar todos os tipos de acao</a></li>
        <li class="list-group-item"><a href="api/Situacao/buscarTodas.php">Buscar todas as situações</a></li>
        <li class="list-group-item"><a href="api/Curso/buscarAtivos.php">Buscar todos os cursos ativos</a></li>
        <li class="list-group-item"><a href="api/Curso/buscarPorNome.php?nome=in">Buscar curso por nome</a></li>
    </ul>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    
    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function($scope, $http) {

            $scope.acao = {};
            /* PARA FACILITAR OS TESTES */
            $scope.acao.tipoAcao = 1;
            $scope.acao.titulo = "Projeto de teste";
            $scope.acao.descricao = "Descrição de um projeto de teste";
            $scope.acao.objetivo = "Objetivos gerais do projeto de teste";
            $scope.acao.publicoAlvo = "Professores, alunos e funcionários";
            $scope.acao.local = "Campos Silva Lobo";
            $scope.acao.dataInicio = new Date(2017, 11, 01);
            $scope.acao.palavrasChave = "Projeto, Newton Paiva, Sou Newton, SI";
            $scope.acao.atividades = "Arquitetura, Engenharia, TI";
            

            $scope.salvar = function() {
                $http({
                    method: 'POST',
                    url: 'api/Acao/salvar.php',
                    data: $scope.acao
                }).success(function(data) {
                    alert(data.mensagem);
                });
            }

            $http.get('api/Situacao/buscarPorId.php?id=1').then(function(response) {
                if (response.data.sucesso) {
                    $scope.situacoes = response.data.conteudo;
                }
                else {
                    alert(response.data.mensagem);
                }
            }, function(response) {
                alert("Erro: " + response.statusText);
            });


            $http.get('api/TipoAcao/buscarTodos.php').then(function(response) {
                if (response.data.sucesso) {
                    $scope.tiposAcao = response.data.conteudo;
                }
                else {
                    alert(response.data.mensagem);
                }
            }, function(response) {
                alert("Erro: " + response.statusText);
            });

            $http.get('api/Curso/buscarAtivos.php').then(function(response) {
                if (response.data.sucesso) {
                    $scope.cursos = response.data.conteudo;
                }
                else {
                    alert(response.data.mensagem);
                }
            }, function(response) {
                alert("Erro: " + response.statusText);
            });
            
            $http.get('api/ConceitoExtensao/buscarAtivos.php?idTipoConceito=1').then(function(response){
               if(response.data.sucesso){
                   $scope.areaTematicaIntegradora = response.data.conteudo;
               } else {
                   alert(response.data.mensagem);
               }
            }, function(response) {
                alert("Erro: " + response.statusText);
            });
            
            $http.get('api/ConceitoExtensao/buscarAtivos.php?idTipoConceito=2').then(function(response){
               if(response.data.sucesso){
                   $scope.objetivosONU = response.data.conteudo;
               } else {
                   alert(response.data.mensagem);
               }
            }, function(response) {
                alert("Erro: " + response.statusText);
            });
            
            $http.get('api/ConceitoExtensao/buscarAtivos.php?idTipoConceito=3').then(function(response){
               if(response.data.sucesso){
                   $scope.desafiosBH2030 = response.data.conteudo;
               } else {
                   alert(response.data.mensagem);
               }
            }, function(response) {
                alert("Erro: " + response.statusText);
            });
        });
    </script>
</body>

</html>
